@import "variables.css";
@import "fonts.css";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}
.icon {
  font-family: 'Material Icons';
  font-size: inherit;
  font-style: normal;
  vertical-align: middle;
  line-height: inherit;
  display: inline-block;
}
.main {
  background-color: var(--color-blue);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--color-white);
  transition: all 0.25s linear;
}
.screen-saver,
.header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.25s linear;
  pointer-events: none;
}
.header {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99;
}
.header__nav {
  background-color: #ddd;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  transition: transform 0.25s ease-in-out;
  transform: translate(0, -100%);
  border-radius: 0 0 5px 5px;
}
.header__nav-item {
  display: inline-block;
  margin: 2rem;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #000;
}
.screen-saver {
  background-color: #000000;
  z-index: 100;
}
.main.has-screen-saver .screen-saver {
  pointer-events: auto;
  opacity: 1;
}
.header.is-visible {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, 0);
}
.header.is-visible .header__nav {
  transform: translate(0, 0);
}
.header__nav-item {
  position: relative;
  display: inline-block;
}
@keyframes header__nav-item-loader {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.header__nav-item-loader {
  position: absolute;
  pointer-events: none;
  top: -4px;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: #000;
}
.header__nav-item.is-activating .header__nav-item-loader {
  animation: header__nav-item-loader 3s linear forwards;
}
.audio {
  display: none;
}
.covers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--controls-height);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  line-height: 1;
}
.covers__group {
  display: inline-block;
  max-width: 100vw;
  white-space: normal;
  vertical-align: top;
}
.covers__album {
  position: relative;
  display: inline-block;
  margin: var(--grid-gutter) 0  0 var(--grid-gutter);
}
.covers__album-icon {
  position: absolute;
  font-size: var(--icon-size);
  line-height: 1;
  top: 50%;
  left: 50%;
  margin-left: calc(var(--icon-size) * -0.5);
  margin-top: calc(var(--icon-size) * -0.5);
  text-shadow: 0px 0px 10px var(--color-black);
  pointer-events: none;
  transition: all 0.25s linear;
  opacity: 1;
}
.covers__album-icon.is-hidden {
  opacity: 0;
}
.album__cover,
.album__group-cover {
  position: relative;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  width: var(--cover-width);
  height: var(--cover-height);
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.25s linear;
  overflow: hidden;
}
.album__cover-image,
.album__group-cover-images {
  border: 1px solid var(--color-black);
  border-radius: var(--border-radius);
  background-repeat: no-repeat;
}
.album__group-cover-images {
  background-position: top left, top right, bottom left, bottom right;
  background-size: 50% 50%, 50% 50%, 50% 50%;
}
.album__cover-image {
  background-position: center center;
  background-size: cover;
}

.album__cover-image,
.album__group-cover-images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.album__cover-caption,
.album__group-cover-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.covers__album.is-selected .album__cover {
  border: 1px solid var(--color-white);
  box-shadow: var(--box-shadow-selected);
}
.covers__album.is-selected .album__cover-image {
  border: 1px solid var(--color-white);
}
.album__cover--fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-black);
  width: auto;
  height: auto;
  box-shadow: none;
  transition: all 0.25s linear;
  opacity: 1;
  border-radius: 0;
  z-index: 10;
}
.album__cover--fullscreen .album__cover-image {
  background-size: contain;
}
.album__cover--fullscreen.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--controls-height);
  background: rgba(0, 0, 0, 0.25);
  padding: var(--grid-gutter);
  overflow: hidden
}

.controls__album-track,
.controls__playback {
  position: absolute;
  left: calc(var(--cover-width) + (var(--grid-gutter) * 2));
}
.controls__album-track {
  padding-left: var(--grid-gutter);
  bottom: var(--grid-gutter);
}
.controls__duration {
  position: absolute;
  right: calc(var(--grid-gutter) * 24);
  bottom: calc(var(--grid-gutter) * 3);
}
.controls__volume {
  position: absolute;
  display: flex;
  align-items: center;
  right: calc(var(--grid-gutter) * 2);
  bottom: calc(var(--grid-gutter) * 2.25);
}
.controls__volume-bar {
  width: calc(var(--grid-gutter) * 10);
  height: calc(var(--icon-size) * 0.15);
  background: rgba(255, 255, 255, 0.25);
  position: relative;
  margin: 0 var(--grid-gutter);
}
.controls__volume-bar-indicator {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background: rgba(255, 255, 255, 0.5);
}
.controls__volume-icon {
  font-size: calc(var(--icon-size) * 0.5);
  line-height: 1;
  cursor: pointer;
  user-select: none;
}
.controls__playback {
  top: calc(var(--grid-gutter) * 0.5);
  right: var(--grid-gutter);
  bottom: 5rem;
}
.controls__playback-icon {
  position: absolute;
  top: 0;
  font-size: var(--icon-size);
  line-height: 1;
  cursor: pointer;
}
.controls__playback-icon--play {
  left: 0;
}
.controls__playback-icon--prev {
  left: 50%;
  margin-left: calc(var(--icon-size) * -0.5);
}
.controls__playback-icon--next {
  right: 0;
}
.controls__playback-progress {
  position: absolute;
  left: calc(var(--icon-size) * 0.35);
  right: 0;
  top: calc(var(--icon-size) + var(--grid-gutter));
  height: calc(var(--icon-size) * 0.25);
  background: rgba(255, 255, 255, 0.25);
  z-index: 2;
}
.controls__playback-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
}
.controls__playback-progress-handle {
  position: absolute;
  top: calc(var(--icon-size) * -0.25);
  bottom: calc(var(--icon-size) * -0.25);
  width: calc(var(--icon-size) * 0.25);
  margin-left: calc(var(--icon-size) * -0.125);
  background: var(--color-white);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transform: translate(0, 0);
  cursor: pointer;
}
.controls__playback-progress-handle:after {
  position: absolute;
  left: -30px;
  top: -15px;
  right: -30px;
  bottom: -15px;
  cursor: pointer;
  content: '';
  display: block;
  background: transparent;
}

.lazy-load[data-loaded="false"] {
  background-image: none !important;
}

.gallery {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  overflow: hidden;
  z-index: 3;
}
.gallery__item {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.gallery__image {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto auto;
  position: relative;
}
.gallery__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  color: #fff;
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.5;
}
.gallery__close:hover,
.gallery__close:focus,
.gallery__close:active {
  opacity: 1;
}
.gallery__close-icon {
  width: 32px;
  height: auto;
}
